<h1> Bem Vindo, Visitante! </h1>

<h5> Cadastre-se no sistema e venha brincar conosco. (:</h5>

	<ul>
		<li> <%= link_to "Cadastro", new_user_path %></li>
		<li> <%= link_to "Perfil", user_path(3) %></li>
	</ul>